{% extends 'base.html' %}
{% load static %}
{% block title %}Mic Camera Stories {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}
{% block content %}
    <div class="head animate-on-scroll">
      <img src="{% static 'img/HomeMic.png'%}" alt="Mic" class="homemicimage animate-on-scroll">
      <span class="headlinetext animate-on-scroll">GIVING UNHEARD STORIES THEIR STAGE</span>
    </div>

    <!-- Combined div for homebottom and trendingvideos -->
    <div class="combined-section animate-on-scroll">
      <!-- Homebottom Section -->
      <div class="homebottom">
        <p class="papercutp"><img src="{% static 'img/papercut.png'%}" alt="papercut" class="papercut"></p>
        <p class="homebottomcontent">Celebrating inspiring journeys of perseverance, success, and character for all.</p>
      </div>

      <!-- Trending Videos Section -->
      <div class="trendingvideos">
        <h1 class="trendingvideostitle animate-on-scroll">Inspiring Stories going viral</h1>
        <div class="trendingvideoslist animate-on-scroll">
          {% for video in topvideos %}
          <div class="video-container" data-video-id="{{ video.videoId }}">
            <img src="{{ video.thumbnail }}" alt="{{ video.title }}" class="trendingvideo">
            <div class="video-title">{{ video.title }}</div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>


    <div class="morevideos animate-on-scroll">
      <h1 class="morevideostitle animate-on-scroll">More Collection</h1>
      <div class="morevideoslist">
        {% for video in latestvideos %}
        <div class="video-container animate-on-scroll" data-video-id="{{ video.videoId }}">
          <img src="{{ video.thumbnail }}" alt="{{ video.title }}" class="morevideo">
          <div class="video-title">{{ video.title }}</div>
        </div>
        {% endfor %}

      </div>

      <div class="explore-button-container animate-on-scroll">
        <a href="/stories"> <button class="explore-button animate-on-scroll">Explore more stories ></button></a>
      </div>
    </div>

    <div class="yourstorysection animate-on-scroll">
      <div class="yourstorysectionleft">
        <p class="papercutpyourstory"><img src="{% static 'img/papercut.png'%}" alt="papercut" class="papercut"></p>
        <img src="{% static 'img/YourStorytitleimage.png'%}" alt="Your Story" class="yourstoryimage animate-on-scroll">
        <a href="/yourstory" class="yourstorybutton animate-on-scroll">Reserve Your Spot</a>
        <p class="homebottomcontent animate-on-scroll">Together Let's Transform Lives Through Inspiring Narratives</p>
      </div>
      <div class="yourstorysectionright">
        <video class="yourstoryvideo animate-on-scroll" autoplay loop muted playsinline>
          <source src="{% static 'img/yourstoryvideo.MOV' %}" type="video/mp4" />
          <source src="{% static 'img/yourstoryvideo.MOV' %}" type="video/quicktime" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    

    <div class="channeldatasection animate-on-scroll">
      <h1 class="channeldatatitle animate-on-scroll">Making A Difference</h1>
      <div class="channeldatalist">
        <div class="channeldataitem animate-on-scroll">
          <p class="channeldataitemtitle">People Trust Us</p>
          <p class="channeldataitemdata" id="total-views">{{channel.views}}</p>
        </div>
        <div class="channeldataitem animate-on-scroll">
          <p class="channeldataitemtitle">Who Changed Life</p>
          <p class="channeldataitemdata" id="total-subscribers">{{channel.subscribers}}</p>
        </div>
        <div class="channeldataitem animate-on-scroll">
          <p class="channeldataitemtitle">Average Time Spent</p>
          <p class="channeldataitemdata">15 mins</p>
        </div>
      </div>
    </div>
    

    <div class="borderforothercontent animate-on-scroll">.</div>

    <div class="othercontent animate-on-scroll">
      <img src="{% static 'img/sidemicelement.png'%}" alt="mic" class="sidemicpic animate-on-scroll">
      <h1 class="othercontenttitle animate-on-scroll">Beyond Stories: Explore More Content</h1>
      <div class="othercontenttlist">
        <a href="https://www.youtube.com/@DheerajmouryaIITR" target="_blank">
        <div class="othercontentitem animate-on-scroll">
          <img src="{% static 'img/dheerajmauryachannellogo.png'%}" alt="Dheeraj Maurya" class="othercontentitemimage circleimg">
          <div class="othercontentitemtitle">Dheeraj Maurya</div>
          <div class="othercontentitemsubtitle">
            <p class="shortsubheading">FOUNDER, MIC CAMERA STORIES, CONTENT CREATOR</p> {{DMchannelsubs}}K Subscribers
          </div>
        </div>
      </a>
      <a href="https://www.youtube.com/playlist?list=PLWHiffv-ceW9XLH-FUnL1HKHjQ8MB_0l5" target="_blank">
        <div class="othercontentitem animate-on-scroll">
          <img src="{% static 'img/miccamerapodcastlogo.png'%}" alt="Mic Camera Podcast" class="othercontentitemimage">
          <div class="othercontentitemtitle">TALK with DHEERAJ</div>
          <div class="othercontentitemsubtitle">
            <span class="shortsubheading">on</span> Dheeraj Maurya's Channel
          </div>
        </div>
      </a>
      </div>
    </div>
    <script>
        const views = {{channel.views}};
        const subscribers = {{channel.subscribers}};
    </script>
<script src="{% static 'js/home.js'%}"></script>
{% endblock %}